$color-primary: blue;
$color-primary-dark: blue;
$color-primary-contrast: blue;
$color-accent-contrast: blue;
$color-accent: blue;
$color-accent-dark: blue;
$input-text-label-color: blue;
$input-text-bottom-border-color: #000;
$input-text-disabled-text-color: #b3bac0;
$color-accent: blue;
$color-text: blue;
//
//$input-text-label-color: white;
//$input-text-bottom-border-color: white;
//$input-text-highlight-color: $color-accent;